.footer{
	text-align:center;margin-top:200px;background:#00003E;
	}
	.footer p {
		color:white;
	}
#sch{
		text-align:center;
		}
#compLabel{
color:maroon;font-weight:bold;font-family:palatino-linotype;
}	
 .panel .row ul{
list-style-type:none;margin-left:220px;
}
	